
.idea

backpressure-reportingtasks/**/target
clusterstate-reportingtasks/**/target
performance-reportingtasks/**/target
sla-reportingtasks/**/target

backpressure-reportingtasks/nifi-reportingtasks.backpressure-api-nar/target/.plxarc

backpressure-reportingtasks/nifi-backpressure-nar/nifi-backpressure-nar.iml

*.iml
/nifi-reportingtasks-addons.iml
